body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    background-image: url(/table.png);
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1{
    color: goldenrod;
}

#message_el{
    font-style: italic;
}

button{
    color: #016f32;
    background-color: goldenrod;
    border: none;
    width: 250px;
    font-weight: bold;
    font-size: 35px;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
button:hover{
    cursor: pointer;
}